<div class="container-fluid aboutusContainer">
  <div class="row aboutusRow">
    <div class="col-lg-12 text-center aboutusDiv">
      Quisqueya Sweets has been in Washington Heights since 1989. Serving the local community with the greatest pastries and warm environment. Come and visit us.
      <br>
      <br>
      <p class="HoO">
        Hours of Operations:
      </p>
      <p class="HoO">
        Monday-Thursday: 6AM - 10 PM
      </p>
      <p class="HoO">
        Friday - Sunday: 8 AM - 12 AM
      </p>
    </div>
  </div>

</div>
