<div class="container-fluid py-4 itemContainer" >
  <div class="row displayRow">
    <div class="imgHolder">
      <div class="col-lg-4"><img src="chocolatechipmain.jpg" width="200" height="200" class="menuImgs">
      </div>
      <p class="itemType py-2">
        Cookies
      </p>
      <p class="itemPrice">
        Price
      </p>
    </div>
    <div class="imgHolder">
      <div class="col-lg-4"><img src="muffinsmain.jpg" width="200" height="200" class="menuImgs">
      </div>
      <p class="itemType py-2">
        Muffins
      </p>
      <p class="itemPrice">
        Price
      </p>
    </div>
    <div class="imgHolder">
      <div class="col-lg-4"><img src="cakesmain.jpg" width="200" height="200" class="menuImgs">
      </div>
      <p class="itemType py-2">
        Cakes
      </p>
      <p class="itemPrice">
        Price
      </p>
    </div>
  </div>
</div>
