<div class="container py-4">
  <div class="row displayRow">
    <div class="imgHolder">
      <div class="col-lg-4"><img src="chocolatechipmain.jpg" width="200" height="200" class="menuImgs">
      </div>
      <p class="itemType py-2">
        Chocolate Chip
      </p>
      <p class="itemPrice">
        Price
      </p>
    </div>
    <div class="imgHolder">
      <div class="col-lg-4"><img src="muffinsmain.jpg" width="200" height="200" class="menuImgs">
      </div>
      <p class="itemType py-2">
        Chocolate Chip
      </p>
      <p class="itemPrice">
        Price
      </p>
    </div>
    <div class="imgHolder">
      <div class="col-lg-4"><img src="cakesmain.jpg" width="200" height="200" class="menuImgs">
      </div>
      <p class="itemType py-2">
        Chocolate Chip
      </p>
      <p class="itemPrice">
        Price
      </p>
    </div>
  </div>
</div>
