<!-- Indentation looks good here. Nice job -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="Baker-512.png">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Quisqueya Sweets</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid headJumbotron">
      <div class="container">
        <div class="row">
          <img src="7741.png" width="250" height="200" class="dominicanFlag">
          <span class="bakeryName">Quisqueya Sweets
          </span>
          <div class="searchBarDiv">
            <input type="text" class="searchBar" placeholder="Search..">
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row navMenu">
        <div class="col-xs-12 col-sm-12 hamburgermenu">
          <i class="fa fa-bars hamburgerToggler"></i>
        </div>

        <div id="mySidenav" class="sidenav">
          <span class="closebutton">&times
          </span>
          <a href="/">
            Home
          </a>
          <a href="/cookies" class="sideItem">
            Cookies
          </a>
          <a href="/cakes" class="sideItem">
            Cakes
          </a>
          <a href="muffins" class="sideItem">
            Muffins
          </a>
          <a href="/about" class="sideItem">
            About
          </a>

        </div>

        <div class="col-lg-4 col-sm-4 col-xs-4 navoption">
          <a href="/">
            <i class="fa fa-home"></i>
            Home
          </a>
        </div>
        <div class="Menudropdown navoption">
          <div class="col-lg-4 col-sm-4 col-xs-4">
            Menu
          </div>
          <div class="dropdown-content">
            <a href='/cookies'>Cookies
            </a>
            <a href='/cakes'>Cakes
            </a>
            <a href="/muffins">Muffins
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4 navoption">
          <a href="/about">
            About
          </a>
        </div>
      </div>
    </div>

    <%= yield %>
    <div class="row-fluid bottomDiv"></div>
    <div class="container-fluid Footer">
      <div class="row">
        <div class="col-lg-4 col-xs-4 col-sm-4 FooterIcons">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-facebook-f"></i>
        </div>

        <div class="col-lg-8 col-xs-6 col-sm-6 newsLetterDiv">
          <form action='/' method="POST">
            Sign Up For Our Newsletter For Events & Updates:
            <input type="email" name="inputParams" class="form-control form-control-sm col-lg-4 col-xs-4 col-sm-4 signUpEmail" placeholder="Enter email">
            <button class="emailSignUpbutton" name="newsletter_sign_up">Sign Up</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
