<div class="container-fluid py-4 itemContainer">
  <div class="row displayRow">
    <% @cookies.each do |cookie| %>
      <div class="imgHolder">
        <div class="col-lg-4"><img src="<%= cookie.image %>" class="menuImgs">
        </div>
        <p class="itemType py-2">
          <%= cookie.name %>
        </p>
        <p class="itemPrice">
          <%= cookie.price %>
        </p>
      </div>
    <% end %>
  </div>
</div>
