<div class="container-fluid py-4 itemContainer">
  <div class="row displayRow">
    <% @muffins.each do |muffin| %>
      <div class="imgHolder">
        <div class="col-lg-4"><img src="<%= muffin.image %>" class="menuImgs">
        </div>
        <p class="itemType py-2">
          <%= muffin.name %>
        </p>
        <p class="itemPrice">
          <%= muffin.price %>
        </p>
      </div>
    <% end %>
  </div>
</div>
