<!-- These only_ files are all very similiar. Can we have a single file for all of them? -->
<div class="container-fluid py-4 itemContainer">
  <div class="row displayRow">
    <% @cakes.each do |cake| %>
      <div class="imgHolder">
        <div class="col-lg-4"><img src="<%= cake.image %>" class="menuImgs">
        </div>
        <p class="itemType py-2">
          <%= cake.name %>
        </p>
        <p class="itemPrice">
          <%= cake.price %>
        </p>
      </div>
    <% end %>
  </div>
</div>
